


<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="nombre">
  </mat-form-field>
</div>
<div>
  <button mat-stroked-button color="primary" (click)="postContact()" aria-label="Contacto añadido">Guardar Contacto</button>
</div>
<div>
  <button mat-button color="primary" (click)="getContacts()">Obtener Contactos</button>
</div>

